/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Default mark color */
#custom-highlight {
    background-color: rgba(0, 172, 193, 0.5);
}

#custom-highlight-country {
    background-color: rgba(0,172,193, 0.5);
}

/* First title sections */
.title {
    font-family: 'Playfair Display', serif;
}

.container {
    text-align: center; /* Centra los elementos horizontalmente */
}

.container h1,
.container h3,
.container p {
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 10px 0; /* Añade un espacio entre los elementos */
}


/* Sectond section subtitles */

.subtitles {
    font-family: 'Playfair Display', italic;
    font-size: 20px;
}

/* Images Styles */
.presentationImages {
    height: 200px;
    width: 200px;
}

/* Theme Dark and Light */

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00acc1;
  --primary-hover: #0097a7;
  --primary-focus: rgba(0, 172, 193, 0.125);
  --primary-inverse: #FFF;
}

[data-theme="dark"] {
  --primary: #43a047;
  --primary-hover: #4caf50;
  --primary-focus: rgba(67, 160, 71, 0.25);
  --primary-inverse: #FFF;
}

/* Button Animation */
.buttonAnimation :hover {
  box-shadow: 0 0 rgba(0, 0, 0, 0.4);
  border-bottom-width: 2px;
  transform: translateY(2px);
}

/* Flags Styles */

.flags {
    height: 200px;
    width: 300px;
}

.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 30px;
grid-row-gap: 30px;
}

/* Align presentation images */

.alignPresentationImages {
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    grid-template-rows: 5fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}